
<div class="container not-found content">
  <div class="not-found__container">
    {%- unless section.settings.image == blank -%}
      <img class="not-found__image" src="{{ section.settings.image | img_url: '500x' }}" alt="{{ section.settings.image.alt }}" />
    {%- endunless -%}
    <h1 class="not-found__title">{{ section.settings.title }}</h1>
    <p class="not-found__description">{{ section.settings.description }}</p>
    <link-button label="{{ section.settings.cta_text }}" href="{{ section.settings.cta_link }}"></link-button>
  </div>
</div>

{% schema %}
  {
    "name": "404 Page",
    "class": "not-found--wrapper",
    "settings": [
      { "type": "header", "content": "Content" },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "404 Page Not Found"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Text",
        "default": "The page you requested does not exist"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      { "type": "header", "content": "CTA" },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Label",
        "default": "Continue Shopping"
      },
      {
        "type": "url",
        "id": "cta_link",
        "label": "CTA Link",
        "default": "/"
      }
    ]
  }
{% endschema %}
