
<div class="container">
  <h1>{{ 'cart.general.title' | t }}</h1>
  
  <cart
    product-column-label="{{ 'cart.label.product' | t }}"
    price-column-label="{{ 'cart.label.price' | t }}"
    quantity-column-label="{{ 'cart.label.quantity' | t }}"
    total-column-label="{{ 'cart.label.total' | t }}">
  </cart>
</div>
