{%- if customer.orders.size != 0 -%}
  <table class="orders-list">
    <thead>
      <tr>
        <th class="orders-list__heading">Order</th>
        <th class="orders-list__heading">Date</th>
        <th class="orders-list__heading">Status</th>
        <th class="orders-list__heading">Total</th>
        <th class="orders-list__heading"></th>
      </tr>
    </thead>
    <tbody>
      {%- for order in customer.orders -%}
        <tr>
          <td class="orders-list__cell orders-list__cell--order-number"><a href="{{ order.customer_url }}">{{ order.name }}</a></td>
          <td class="orders-list__cell">{{ order.created_at | date: "%b %d, %Y" }}</td>
          <td class="orders-list__cell">{{ order.fulfillment_status }}</td>
          <td class="orders-list__cell">{{ order.total_price | money }}</td>
          <td class="orders-list__cell orders-list__cell--action">
            <a href="{{ order.customer_url }}">→</a>
          </td>
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
{%- else -%}
  <p><strong>You haven't placed any orders yet.</strong></p>
{%- endif -%}
