
{%- include 'logic--content-block' -%}

<div class="column small-12 {{ block.settings.column_class }}">
  <div class="content-block content-block--image" style="{{ content_block_styles }} {{ content_block_wrapper_styles }}">
    <div class="content-block__overlay" style="{{ content_block_overlay_styles }}"></div>
    <p>{{ block.settings.overlay_image__image }}</p>
  </div>
</div>
