
<ul class="pagination u-list-inline">
  <li class="pagination__item pagination__item--prev">
    <icon-link
      href="{{ paginate.previous.url }}" 
      label="Previous Page" 
      icon="arrow-left"
      size="18px"
      {% unless paginate.previous %}:disabled="true"{% endunless %}>
    </icon-link>
  </li>

  {%- for part in paginate.parts -%}
    <li class="pagination__item">
      {%- if part.is_link -%}
        <a href="{{ part.url }}" class="pagination__link">
          <span class="u-sr-only">page</span> {{ part.title }}
        </a>
      {%- else -%}
        <span class="pagination__link {% if part.title == paginate.current_page %}pagination__link--active{% endif %}">
          <span class="u-sr-only">page</span> {{ part.title }}
        </span>
      {%- endif -%}
    </li>
  {%- endfor -%}

  <li class="pagination__item pagination__item--next">
    <icon-link
      href="{{ paginate.next.url }}" 
      label="Next Page" 
      icon="arrow-right"
      size="18px"
      {% unless paginate.next %}:disabled="true"{% endunless %}>
    </icon-link>
  </li>
</ul>
