
<div class="social-sharing">
  {%- if settings.share_facebook -%}
    <icon-link
      class="social-share__button"
      label="{{ 'general.social.share_on_facebook' | t }}"
      href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"
      icon="facebook"
      :external="true">
    </icon-link>
    {% comment %} <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span> {% endcomment %}
  {%- endif -%}

  {%- if settings.share_twitter -%}
    <icon-link
      class="social-share__button"
      href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"
      label="{{ 'general.social.share_on_twitter' | t }}"
      icon="twitter"
      :external="true">
    </icon-link>
    {% comment %} <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span> {% endcomment %}
  {%- endif -%}

  {%- if settings.share_pinterest -%}
    <icon-link
      class="social-share__button"
      href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}"
      label="{{ 'general.social.share_on_pinterest' | t }}"
      icon="pinterest"
      :external="true">
    </icon-link>
  {%- endif -%}
</div>
